project_name                   = "paper-bridge-dev"
default_region_name            = "us-west-2"
use_graph_rag                  = true
vpc_cidr                       = "10.0.0.0/16"
max_azs                        = 3
nat_gateways                   = 1
enable_vpn                     = true
vpn_client_cidr_block          = "10.100.0.0/22"
codebuild_source_bucket        =
email_address                  =
indexer_schedule_expression    = "cron(0 8 * * ? *)"
cleaner_schedule_expression    = "cron(0 7 * * ? *)"
summarizer_schedule_expression = "cron(0 7 * * ? *)"
business_slack_bot_token       =
business_slack_channel_id      =
llama_cloud_api_key            =
personal_slack_bot_token       =
personal_slack_channel_id      =
upstage_api_key                =
neptune_instance_type          = "db.serverless"
neptune_min_capacity           = 2.5
neptune_max_capacity           = 32.0
neptune_engine_version         = "1.4.1.0"
client_user_name               = "youngmki"
